.site {
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  //padding-top:80px;
}


/*--------------------------------------------------------------
## Bootstrap Scaffold
--------------------------------------------------------------*/
@import "../layout/layout";
/*--------------------------------------------------------------
## header
--------------------------------------------------------------*/
@import "header/header";
/*--------------------------------------------------------------
## home page
--------------------------------------------------------------*/
@import "primary/homepage";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";
/*--------------------------------------------------------------
## Portfolio
--------------------------------------------------------------*/
@import "primary/portfolio";
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";
/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer/_footer";